@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "sofia";
  src: local("sofia"),
   url("./assets/sofiapro-light.otf") format("truetype");
  font-weight: bold;
  }

.buttons {
  background-color: #0084FE;
  color: white;
  transition: 0.15s ease-in-out;
}

.buttons:hover {
  background-color: #133363;
}