@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #F3F6F5;
}



@font-face {
  font-family: "sofia";
  src: local("sofia"),
   url("./assets/sofiapro-light.otf") format("truetype");
  font-weight: bold;
  }

.buttons {
  background-color: #0084FE;
  color: white;
  transition: 0.15s ease-in-out;
}

.buttons:hover {
  background-color: #133363;
}

.cabinsInput {
  border: 1px solid #0084FE; 
  color: #0084FE;
  transition: 0.15s ease-in-out;
}

.cabinsInput:hover {
  border: 1px solid transparent;
  color: white;
  background-color: #0084FE;
}

.summaryBox {
  border: 1px solid #E0E4EA;
  padding: 15px;
}
